In [4]:
# Dependencies
import pandas as pd

In [5]:
# Store filepath in a variable
districtdata = pd.read_csv("District Data/district_data.csv")

In [6]:
districtdata

,Unnamed: 0,City,County,District Name,Number of High Schools,Number of Middle Schools,Number of Alternative Schools,Number of Primary Schools,Number of Total Schools,State,Rank,RankOf,RankStatewidePercentage,Year,Zip Code
0,0,Baxley,Appling,Appling County,1,1,0,4,6,GA,88.0,196.0,55.10,2019.0,31513
1,1,Pearson,Atkinson,Atkinson County,1,1,0,2,4,GA,75.0,196.0,61.73,2019.0,31642
2,2,Atlanta,Fulton,Atlanta Public Schools,16,15,2,56,89,GA,136.0,196.0,30.61,2019.0,30335
3,3,Alma,Bacon,Bacon County,1,1,0,2,4,GA,85.0,196.0,56.63,2019.0,31510
4,4,Newton,Baker,Baker County,0,0,1,0,1,GA,NaN,NaN,NaN,NaN,31770
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,338,Beaufort,Carteret,Carteret County Public Schools,4,4,1,9,18,NC,38.0,242.0,84.30,2019.0,28516
339,339,Raleigh,Wake,Casa Esperanza Montessori,0,0,0,1,1,NC,87.0,242.0,64.05,2019.0,27616
340,340,Yanceyville,Caswell,Caswell County Schools,1,1,0,4,6,NC,186.0,242.0,23.14,2019.0,27379
341,341,Sylva,Jackson,Catamount School,0,1,0,0,1,NC,151.0,242.0,37.60,2019.0,28779
342,342,Newton,Catawba,Catawba County Schools,6,5,1,16,28,NC,80.0,242.0,66.94,2019.0,28658

In [22]:
# Identify incomplete rows
districtdata.count()

Unnamed: 0                       343
City                             343
County                           343
District Name                    343
Number of High Schools           343
Number of Middle Schools         343
Number of Alternative Schools    343
Number of Primary Schools        343
Number of Total Schools          343
State                            343
Rank                             305
RankOf                           305
RankStatewidePercentage          305
Year                             305
Zip Code                         343
dtype: int64

In [25]:
# sort by county
county_df = districtdata.sort_values(
    ["County"], ascending=True)
county_df.head(20)

,Unnamed: 0,City,County,District Name,Number of High Schools,Number of Middle Schools,Number of Alternative Schools,Number of Primary Schools,Number of Total Schools,State,Rank,RankOf,RankStatewidePercentage,Year,Zip Code
149,149,Abbeville,Abbeville,Abbeville 60,3,1,0,5,9,SC,6.0,82.0,92.68,2019.0,29620
150,150,Aiken,Aiken,Aiken 01,10,12,0,21,43,SC,34.0,82.0,58.54,2019.0,29803
199,199,Gainesville,Alachua,Alachua,15,10,6,33,64,FL,40.0,67.0,40.30,2019.0,32601
300,300,Burlington,Alamance,Alamance-Burlington Schools,8,7,1,20,36,NC,162.0,242.0,33.06,2019.0,27217
101,101,Corinth,Alcorn,Alcorn School District,5,2,0,3,10,MS,31.0,129.0,75.97,2019.0,38834
127,127,Corinth,Alcorn,Corinth School District,1,1,0,1,3,MS,61.0,129.0,52.71,2019.0,38834
301,301,Taylorsville,Alexander,Alexander County Schools,1,2,1,7,11,NC,68.0,242.0,71.90,2019.0,28681
302,302,Sparta,Alleghany,Alleghany County Schools,1,0,0,3,4,NC,77.0,242.0,68.18,2019.0,28675
151,151,Fairfax,Allendale,Allendale 01,1,1,0,2,4,SC,74.0,82.0,9.76,2019.0,29827
102,102,Liberty,Amite,Amite County School District,2,0,0,1,3,MS,120.0,129.0,6.98,2019.0,39645
274,274,Clinton,Anderson,Clinton,0,0,0,3,3,TN,43.0,140.0,69.29,2019.0,37716
253,253,Clinton,Anderson,Anderson County,3,5,0,10,18,TN,92.0,140.0,34.29,2019.0,37716
157,157,Williamston,Anderson,Anderson 80,1,0,0,0,1,SC,NaN,NaN,NaN,NaN,29697
154,154,Iva,Anderson,Anderson 03,1,1,0,3,5,SC,7.0,82.0,91.46,2019.0,29655
155,155,Pendleton,Anderson,Anderson 04,1,1,0,4,6,SC,4.0,82.0,95.12,2019.0,29670
152,152,Williamston,Anderson,Anderson 01,3,3,0,8,14,SC,3.0,82.0,96.34,2019.0,29697
156,156,Anderson,Anderson,Anderson 05,4,4,0,13,21,SC,22.0,82.0,73.17,2019.0,29625
153,153,Honea Path,Anderson,Anderson 02,1,2,0,4,7,SC,19.0,82.0,76.83,2019.0,29654
306,306,Wadesboro,Anson,Anson County Schools,3,1,0,6,10,NC,174.0,242.0,28.10,2019.0,28170
0,0,Baxley,Appling,Appling County,1,1,0,4,6,GA,88.0,196.0,55.10,2019.0,31513

In [30]:
# The index can be reset
new_index_df = county_df.set_index('County',drop=True)
new_index_df

,Unnamed: 0,City,District Name,Number of High Schools,Number of Middle Schools,Number of Alternative Schools,Number of Primary Schools,Number of Total Schools,State,Rank,RankOf,RankStatewidePercentage,Year,Zip Code
County,,,,,,,,,,,,,,
Abbeville,149,Abbeville,Abbeville 60,3,1,0,5,9,SC,6.0,82.0,92.68,2019.0,29620
Aiken,150,Aiken,Aiken 01,10,12,0,21,43,SC,34.0,82.0,58.54,2019.0,29803
Alachua,199,Gainesville,Alachua,15,10,6,33,64,FL,40.0,67.0,40.30,2019.0,32601
Alamance,300,Burlington,Alamance-Burlington Schools,8,7,1,20,36,NC,162.0,242.0,33.06,2019.0,27217
Alcorn,101,Corinth,Alcorn School District,5,2,0,3,10,MS,31.0,129.0,75.97,2019.0,38834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Walker,33,Chickamauga,Chickamauga City,1,1,0,1,3,GA,9.0,196.0,95.41,2019.0,30707
Washington,140,Greenville,Greenville Public Schools,2,2,0,8,12,MS,109.0,129.0,15.50,2019.0,38701
Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,2018.0,28676
Williamson,293,Franklin,Franklin SSD,0,3,0,5,8,TN,7.0,140.0,95.00,2019.0,37064
Yalobusha,123,Coffeeville,Coffeeville School District,1,0,0,1,2,MS,93.0,129.0,27.91,2019.0,38922